
body {
    overflow: hidden;
    margin: 0;
    font-family: Helvetica, sans-serif;


}

#top {
    width: 100%;
    min-width: 1000px;
    height: 15vh;
    min-height: 100px;
    background-color: rgb(22, 22, 113);
}

#container {
    min-width: 1000px;
    display: flex;

}

#left {
    width: 400px;
    min-width: 300px;
    height: 200px;
    min-height: 86vh;
    background: rgb(22,22,113);
    background: linear-gradient(138deg, rgba(22,22,113,1) 26%, rgba(12,140,201,1) 100%);
    overflow: hidden;

}

#empty {
    width: 150px;
    height: 30%;

}

#contacts {
    height: 60%;
    min-height: 21vh;
    overflow-x: scroll;


}


#right {
    position: relative;
    background-color: rgb(232, 231, 231);
    width:  100%;
    height: 86vh;
    z-index: 1;
}

#user_data {
    position: absolute;
    left: 500px;
    top: 5px;
    width: 400px;
}

#user_data h2 {
    color: rgb(232, 230, 230);
}

#user_data p {
    position: relative;
    top: -2vh;
    color: rgb(168, 167, 167);
}


#img img {
    width: 200px;
}

#img {
    background-color: white;
    border: 5px solid white;
    border-radius: 50% 50%;
    width: 200px;
    height: 200px;
    position: relative;
    left: 190px;
    top: 20px;
    z-index: 99;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.485);
   
}

#img div {
    border-radius: 50% 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
}


.user_img {
    border: 2px solid white;
    border-radius: 50% 50%;
    width: 60px;
    min-width: 60px;
    height: 60px;
    overflow: hidden;
}

.user_img img {
    width: 60px;
}

.user {
    display: flex;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-top: 25px;
}

.user .user_data {
    margin-left: 15px;
    color: rgb(255, 255, 255);
    position: relative;
    top: 8px;
    width: 200px;
    height: 60px;
}

.user .user_data p {
    font-size: 13px;
    color: rgb(177, 176, 176);
    position: relative;
    top: -8px;
   
}

.space {
    width: 100%;
    height: 150px;
}

.line {
    width: 80%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.285);
    margin: 0 auto;

}

.user:hover {
    background-color: rgb(83, 83, 188);
    cursor: pointer;
    
}


.message {
    height: fit-content;
    max-width: 250px;
    padding-top: 1px;
    padding-bottom: 1px;
    min-width: 50px;
    margin-top: 10px;
    font-weight: 100;

}

.message_left {
    border-radius: 20px 20px 20px 0px;
    background-color: rgb(118, 118, 118);
    margin-left: 40px;
    padding-left: 25px;
    padding-right: 5px;

}
.message p {
    width: 90%;
    color: rgb(231, 230, 230);
    margin-left: 20px;

}

.message_right{
    text-align: right;
    border-radius: 20px 20px 0px 20px;
    background-color: rgb(42, 182, 246);
    margin-left: 50vw;
    padding-left: 5px;
    padding-right: 25px;
}

#top_line {
    width: 100%;
    height: 30px;
    margin-bottom: 100px;

    background-color: rgba(255, 255, 255, 0.205);
    display: flex;
    align-items: center;
    z-index: 1;
}

#top_line span {
    color: rgb(64, 64, 64);
    font-weight: 100;
    height: 20px;
    margin: 0 auto;

}

#messages_box {
    position: relative;
    top: -17.5%;
    overflow: scroll;
    height: 70.4%;
    z-index: 1;
    padding-top: 40px;
    padding-bottom: 40px;

}

#logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-image: url("img/logo-04.png");
}

#send {
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: rgba(5, 99, 221, 0.605);
    bottom: 0;
    right: 0px;
    background: rgb(22,22,113);
    background: linear-gradient(100deg, rgba(22,22,113,0.2) -28%, rgba(12,140,201,0.2) 100%);
}


#send input {
    margin-top: 12px;
    margin-left: 80px;
    width: 70%;
    height: 25px;
    padding-left: 50px;
    border: 0;
 
}

#send_button {
    width: 50px;
    height: 28px;
    margin-left: 10px;
    background-color:  white;
    border: 0;
}


#empty_conversation {
    width: max-content;
    margin: 0 auto;
    display: block;
    color: rgb(110, 110, 110);
    font-weight: 100;
}

#background {
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.1;
    position: absolute;
}

#login_back {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    z-index: 999999;
    display: block;

}


#login_box {
    position: relative;
    top: 20vh;
    margin: 0 auto;
    background-color: white;
    width: 400px;
    height: max-content;
    z-index: 9999999;
    display: flex;
    flex-direction: column;
}

#login_box input {
    width: 80%;
    height: 20px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid rgba(135, 135, 135, 0.325);
    border-radius: 4px;
    margin-top: 20px;
    
}

#login_box span {
    width: auto;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 18px;
    color: rgba(128, 128, 128, 0.64);
}

#login_box button {
    width: 130px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 30px;
    margin-bottom: 40px;
    border: 0;
    background-color: rgb(1, 1, 130);
    color: white;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}


#login_box button:hover {
    background-color: rgb(56, 56, 233);
    transform: scale(1.2);
    
}

#welcome_message {
    color: green;
    padding: 40px;
    font-size: 21px;
    width: max-content;
    margin: 0 auto;

}

#logout_btn {
    position: absolute;
    right: 5%;
    padding: 5px 20px;
    border: none;
    background-color: white;
    border-radius: 2px;
    top: 35px;
    cursor: pointer;

}


#add_contact {
    position: relative;
    bottom: -140px;
    display: inline-block;
    left: 40px;
    width: 200px;
  
}

#add_contact input {
    height: 20px;
    width: 140px;
    background-color: rgba(1, 1, 52, 0.414);
    border: 1px solid rgb(1, 1, 52);
    padding: 2px;
    padding-left: 10px;
    color: white;
}


#add_contact button {
    width: 40px;
    height: 25px;
    border: none;
    background-color: rgb(1, 1, 52);
    color: white;
    cursor: pointer;
}